.loading-spinner {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 8px solid #fff;
    border-top: 8px solid transparent;
    animation: spin 1.2s infinite linear;
    margin: 8rem auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}